.speech {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.direction {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background-color: lightskyblue;
}

.direction:hover {
  background-color: lightcoral;
  color: oldlace;
}

.fedya {
  color: orchid;
}

.savva {
  color: navy;
}

.bortsov {
  color: brown;
}

table {
  color: black;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}
